<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.weichen2046.filesender2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".ui.DesktopListActivity"
            android:exported="false"
            android:parentActivityName=".ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.weichen2046.filesender2.ui.MainActivity" />
        </activity>

        <activity
            android:name=".ui.PendingRecvFilesActivity"
            android:exported="true"
            android:label="@string/title_activity_pending_recv_files"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.NotificationDialogHelperActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Translucent" />

        <service
            android:name=".service.ServiceManagerInternal"
            android:enabled="true"
            android:exported="false"
            android:process=":smg" />

        <service
            android:name=".service.SocketTaskService"
            android:exported="false" />
        <service
            android:name=".service.UserConfirmationHandleService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".debug.DebugService"
            android:enabled="true"
            android:exported="true"
            android:process=":debugservice">
            <intent-filter>
                <action android:name="com.weichen2046.filesender2.debugservice" />
            </intent-filter>
        </service>

        <receiver
            android:name=".ui.receiver.ResultBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="action.filesender2.SEND_FILE_COMPLETE" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".ui.receiver.NotificationHelperReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="action.filesender2.DEVICE_AUTH_REQ" />
                <action android:name="action.filesender2.RECV_FILE_REQ" />
            </intent-filter>
        </receiver>

    </application>

</manifest>